/**************
 * ADDITIONAL *
 **************/
@font-face {font-family:"AmnestyTradeGothic-regular"; src:url(../fonts/AmnestyTradeGothic/AmnestyTradeGothic.ttf);}
@font-face {font-family:"Nunito-regular"; src:url(../fonts/Nunito/Nunito-Regular.ttf);}
@font-face {font-family:"Nunito-bold"; src:url(../fonts/Nunito/Nunito-Bold.ttf);}
@keyframes anim-ripple-out {100%{top:-7px; right:-7px; bottom:-7px; left:-7px; border-color:transparent;}}
@keyframes color-slide {0%{background-position:0% 100%;} 20%{background-position:0% 0%;} 21%{background-color:#4e5559;} 29.99%{background-color:#fff; background-position:0% 0%;} 30%{background-color:#4e5559; background-position:0% 100%;} 50%{background-position:0% 0%;} 51%{background-color:#4e5559;} 59%{background-color:#fff; background-position:0% 0%;} 60%{background-color:#4e5559; background-position:0% 100%;} 80%{background-position:0% 0%;} 81%{background-color:#4e5559;} 90%, 100%{background-color:#ffffff;}}
@keyframes trackball-slide {0%{opacity:1; transform:scale(1) translateY(-20px);} 6%{opacity:1; transform:scale(0.9) translateY(5px);} 14%{opacity:0; transform:scale(0.4) translateY(40px);} 15%, 19%{opacity:0; transform:scale(0.4) translateY(-20px);} 28%, 29.99%{opacity:1; transform:scale(1) translateY(-20px);} 30%{opacity:1; transform:scale(1) translateY(-20px);} 36%{opacity:1; transform:scale(0.9) translateY(5px);} 44%{opacity: 0; transform:scale(0.4) translateY(40px);} 45%, 49%{opacity:0; transform:scale(0.4) translateY(-20px);} 58%, 59.99%{opacity:1; transform:scale(1) translateY(-20px);} 60%{opacity:1; transform:scale(1) translateY(-20px);} 66%{opacity:1; transform:scale(0.9) translateY(5px);} 74%{opacity:0; transform:scale(0.4) translateY(40px);} 75%, 79%{opacity:0; transform:scale(0.4) translateY(-20px);} 88%, 100%{opacity:1; transform:scale(1) translateY(-20px);}}
@keyframes nudge-mouse {0%{transform:translateY(0);} 20%{transform:translateY(8px);} 30%{transform:translateY(0);} 50%{transform:translateY(8px);} 60%{transform:translateY(0);} 80%{transform:translateY(8px);} 90%{transform:translateY(0);}}
@keyframes nudge-text {0%{transform:translateY(0);} 20%{transform:translateY(2px);} 30%{transform:translateY(0);} 50%{transform:translateY(2px);} 60%{transform:translateY(0);} 80%{transform:translateY(2px);} 90%{transform:translateY(0);}}
@keyframes color-text {21%{color:#4e5559;} 30%{color:#fff;} 51%{color:#4e5559;} 60%{color:#fff;} 81%{color:#4e5559;} 90%{color:#fff;}}

/****************
 * RESET/DEFINE *
 ****************/
*, body {padding:0; margin:0; font-family:"AmnestyTradeGothic-regular";}
a {text-decoration:none; cursor:pointer;}
h1, h2 {font-family:"Nunito-regular";}

/****************
 * CUSTOM CLASS *
 ****************/
.container {width:90%; margin:0 auto; position:relative; /*border-left:4px solid red; border-right:4px solid red;*/ z-index:9999;}
.button {position:relative; display:inline-block; padding:10px 25px; background-color:#ffb948; color:#444444; font-weight:600; border-radius:5px; -moz-osx-font-smoothing:grayscale;}
.button:before {content:''; position:absolute; border:#ffb948 solid 7px; border-radius:5px; top:0; right:0; bottom:0; left:0; animation-duration:500ms;}
.button:hover:before, .button:focus:before, .button:active:before {-webkit-animation-name:anim-ripple-out; animation-name:anim-ripple-out;}

/**********
 * HEADER *
 **********/
body header {width:100%; position:relative;}
body header div.container nav {position:absolute; width:100%; display:flex; align-content:flex-start; align-items:center; justify-content:space-between; border-bottom:2px solid rgba(255,255,255,0.4);}
body header div.container nav ul {}
body header div.container nav ul li {list-style:none; display:inline-block;}
body header div.container nav ul li a {position:relative; display:inline-block; padding:30px 15px; color:#fff;}
body header div.container nav ul li a:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:0; background-color:transparent; transition:ease-in 200ms transparent; transition-property:height, background-color;}
body header div.container nav ul li a:hover:after {height:4px; background-color:rgba(255,255,255,0.4); transition: ease-out 200ms; transition-property:height, background-color;}
body header div.background-header {width:100%; height:90vh; overflow:hidden;}
body header div.background-header div.content {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center;}
body header div.background-header div.content p {margin:20px 0px; font-family:"Nunito-bold"; font-size:23px; color:#fff;}
body header div.background-header div.scroll-for-more {position:absolute; left:50%; bottom:40px; transform: translateX(-50%); text-align:center;}
body header div.background-header div.scroll-for-more div.mouse {display:inline-block; background:#4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%); position:relative; width:42px; height:68px; border-radius:100px; background-size:100% 200%; animation:color-slide 5s linear infinite, nudge-mouse 5s ease-out infinite;}
body header div.background-header div.scroll-for-more div.mouse:before,
body header div.background-header div.scroll-for-more div.mouse:after {content:""; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto;}
body header div.background-header div.scroll-for-more div.mouse:before {width:36px; height:62px; background-color:#222a30; border-radius:100px;}
body header div.background-header div.scroll-for-more div.mouse:after {background-color:#fff; width:10px; height:10px; border-radius:100%; animation: trackball-slide 5s linear infinite;}
body header div.background-header div.scroll-for-more p {margin:20px 0; font-family:"Nunito-regular"; color:#fff; animation:color-text 5s ease-out infinite, nudge-text 5s ease-out infinite;}  
body header div.background-header div.scroll-for-more div.slider-pager {} 
body header div.background-header div.scroll-for-more div.slider-pager a {opacity:0.5; display:inline-block; color:transparent; background-color:#fff; width:35px; height:5px; margin:0 2px; animation:color-text 5s ease-out infinite, nudge-text 5s ease-out infinite;} 
body header div.background-header div.scroll-for-more div.slider-pager a.active {width:70px; opacity:1.0;} 
body header div.background-header img#bg-header {width:100%; height:100vh; display:block; object-fit:cover; object-position:center;}
body header div.background-header:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}

/********
 * MAIN *
 ********/
body main div.who-we-are {}
body main div.who-we-are div.container {}
body main div.who-we-are div.container h1 {}
body main div.who-we-are div.container div.our-story {}
body main div.who-we-are div.container div.our-story h4 {}
body main div.who-we-are div.container div.our-story p {}
body main div.who-we-are div.container div.our-story a {}
body main div.who-we-are div.container div.our-story a {}