/**************
 * ADDITIONAL *
 **************/
@font-face {font-family:"FontAwesome"; src:url(../fonts/FontAwesome/FontAwesome.otf);}
@font-face {font-family:"ProximaNovaSoft-regular"; src:url(../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.otf);}
@font-face {font-family:"Rafale-regular"; src:url(../fonts/Rafale/Rafale-RU.otf);}
@font-face {font-family:"Roboto-light"; src:url(../fonts/Roboto/Roboto-Light.ttf);}
@font-face {font-family:"Roboto-regular"; src:url(../fonts/Roboto/Roboto-Regular.ttf);}
@font-face {font-family:"Roboto-medium"; src:url(../fonts/Roboto/Roboto-Medium.ttf);}

/****************
 * RESET/DEFINE *
 ****************/
*, body {padding:0; margin:0;}
a {text-decoration:none; cursor:pointer;}

/****************
 * CUSTOM CLASS *
 ****************/
.container {width:90%; margin:0 auto; position:relative; letter-spacing:1px;}
a.button {padding:8px 35px; display:inline-block; font-family:"Roboto-medium"; font-size:15px; border:solid 1px #ffffff;}
a.button.fill {background-color:#ffffff; color:#ff0000;}
a.button.outline {background-color:transparent; color:#ffffff;}

/**********
 * HEADER *
 **********/
body header {width:100%; height:100vh; overflow:hidden;}
body header nav {width:100%; position:absolute; margin: 20px 0; z-index:1;}
body header nav div.container {display:grid; grid-template-columns:160px auto; align-items:center; justify-content:space-between;}
body header nav div.button {display:flex; align-items:center; justify-content:space-between;}
body header nav div.button a.button:first-child {margin-right:25px;}
body header div.background {width:100%; height:100%;z-index:0;}
body header div.background img.background {width:100%; height:100vh; object-fit:cover; object-position:center;}
body header div.background div.content {position:absolute; top:50%; transform:translateY(-50%); width:100%;}
body header div.background div.content div.container {display:flex; align-items:center; justify-content:flex-start;}
body header div.background div.content div.text {width:40%;}
body header div.background div.content div.text h2.title {font-family:"Roboto-medium"; font-weight:normal; font-size:35px; color:#ffffff;}
body header div.background div.content div.text p.desc {font-family:"ProximaNovaSoft-regular"; font-weight:normal; font-size:20px; color:#ffffff; line-height:28px; margin:30px 0;}
body header div.background div.content div.thumbs {width:60%;}
body header div.background div.content div.thumbs img {width:100%;}

/********
 * MAIN *
 ********/
body main {}
body main div.profit {text-align:center; margin:60px 0;}
body main div.profit h4.title {font-family:"Roboto-medium"; font-size:18px; color:#2c2f3a;}
body main div.profit p.desc {font-family:"Roboto-light"; font-size:16px; color:#717e9c; padding:18px 0; position:relative; display:inline-block;}
body main div.profit p.desc:after {content:''; position:absolute; left:50%; top:100%; transform:translateX(-50%); width:20%; height:5px; background-color:#ff0000;}
body main div.profit ul.item {display:grid; grid-template-columns: auto auto auto; box-sizing:border-box; margin-top:80px;}
body main div.profit ul.item li {list-style:none; background-color:#ffffff; box-sizing:border-box; box-shadow:0px 18px 40px 5px rgba(0,0,0,0.04); padding:50px 30px; text-align:center; transition:ease-in-out 200ms; transition-property:box-shadow, transform;}
body main div.profit ul.item li:hover {box-shadow:0px 18px 40px 2px rgba(0,0,0,0.09); transform:scale(1.1);}
body main div.profit ul.item li:nth-child(2) {margin:0 80px;}
body main div.profit ul.item li img {width:40%; background-color:transparent;}
body main div.profit ul.item li h4.title {margin:25px 0;}
body main div.profit ul.item li span.desc {font-family:"ProximaNovaSoft-regular"; font-size:15px; color:#717e9c; word-break:break-word;}
body main div.testimonial {width:100%; height:80vh; position:relative;}
body main div.testimonial div.content {position:absolute; top:50%; transform:translateY(-50%); width:100%;}
body main div.testimonial div.content div.container {display:flex; align-items:center; justify-content:flex-start;}
body main div.testimonial div.content div.text {width:35%;}
body main div.testimonial div.content div.text h4.title {font-family:"Roboto-medium"; font-size:18px; color:#2c2f3a;}
body main div.testimonial div.content div.text p.desc {font-family:"Roboto-light"; font-size:16px; color:#717e9c; padding:18px 0; position:relative; display:inline-block;}
body main div.testimonial div.content div.text p.desc:after {content:''; position:absolute; left:0; top:100%; width:20%; height:5px; background-color:#ff0000;}
body main div.testimonial div.content div.client-list {width:65%;}
body main div.testimonial div.content div.client-list ul {display:flex; justify-content:space-between;}
body main div.testimonial div.content div.client-list ul li {list-style:none; background-color:#ffffff; box-sizing:border-box; box-shadow:0px 18px 40px 5px rgba(0,0,0,0.04); padding:30px 40px; position:relative; overflow:hidden; transition:ease-in-out 200ms; transition-property:transform;}
body main div.testimonial div.content div.client-list ul li:hover {transform:scale(1.1);}
body main div.testimonial div.content div.client-list ul li:after {content:""; position:absolute; top:-5px; left:30px; background-image: url(../images/icon/quote.png); background-repeat:no-repeat; background-size:cover; width:43px; height:35px;}
body main div.testimonial div.content div.client-list ul li:nth-child(odd) { margin-right:30px;}
body main div.testimonial div.content div.client-list ul li:nth-child(even) {margin-left:30px;}
body main div.testimonial div.content div.client-list ul li p.msg {font-family:"Roboto-regular"; font-size:18px; color:#717e9c; text-align:center; display:inline-block; padding:30px 0; border-bottom:solid 1px #f3f7f8;}
body main div.testimonial div.content div.client-list ul li div.wrap {margin-top: 30px; display:flex; align-items:center; justify-content:space-between;}
body main div.testimonial div.content div.client-list ul li div.wrap div.user {display:inline-flex; align-items:center; justify-content:space-between; width:65%}
body main div.testimonial div.content div.client-list ul li div.wrap div.user div.thumbs {width:50px; height:50px; overflow:hidden; border-radius:100%;}
body main div.testimonial div.content div.client-list ul li div.wrap div.user div.thumbs img {width:100%; height:100%;}
body main div.testimonial div.content div.client-list ul li div.wrap div.user div.wrap {margin-top:0; margin-left:10px; display:initial; width:calc(100% - 60px);}
body main div.testimonial div.content div.client-list ul li div.wrap div.user div.wrap h5.name {font-family:"Roboto-light"; font-style:normal; font-size:14px; word-wrap:break-word; color:#565e75;}
body main div.testimonial div.content div.client-list ul li div.wrap div.user div.wrap span.experience {font-family:"Roboto-light"; font-style:normal; font-size:12px; word-wrap:break-word; color:#abb5cd;}
body main div.testimonial div.content div.client-list ul li div.wrap div.ranting {letter-spacing:1px; display:flex; align-items:center; justify-content:center;}
body main div.testimonial div.content div.client-list ul li div.wrap div.ranting i.star {}
body main div.testimonial div.content div.client-list ul li div.wrap div.ranting i.star:before {content:'\f005'; font-family:"FontAwesome"; font-size:14px; font-style:normal; color:#fff200;}
body main div.testimonial div.content div.client-list div.pager {display:flex; align-items:center; margin-left:100px; margin-top:30px;}
body main div.testimonial div.content div.client-list div.pager a {width:40px; height:40px; border:solid 3px #ffffff; border-radius:100%; position:relative; font-family:"FontAwesome"; font-size:20px; font-style:normal; font-weight:bolder; color:#ffffff; margin:0 10px; transition:ease-in-out 200ms; transition-property:background-color, color;}
body main div.testimonial div.content div.client-list div.pager a:hover {background-color:#ffffff; color:#ff0000;}
body main div.testimonial div.content div.client-list div.pager a.previous:before {content:'\f104';}
body main div.testimonial div.content div.client-list div.pager a.next:before {content:'\f105';}
body main div.testimonial div.content div.client-list div.pager a.previous:before,
body main div.testimonial div.content div.client-list div.pager a.next:before {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
body main div.testimonial img.background {width:100%; height:80vh; object-fit:cover; object-position:center;}
body main div.list-of-agent {width:100%; position:relative; margin:30px 0;}
body main div.list-of-agent div.background {background-image:url('../images/bg-daftar-agen.jpg'); background-size:cover; width:100%; height:100%;}
body main div.list-of-agent div.content {width:100%; text-align:center;}
body main div.list-of-agent div.content h4.title {font-family:"Roboto-medium"; font-size:18px; color:#2c2f3a; margin-top:120px;}
body main div.list-of-agent div.content p.desc {font-family:"Roboto-light"; font-size:16px; color:#717e9c; padding:18px 0; margin-bottom:120px; position:relative; display:inline-block;}
body main div.list-of-agent div.content p.desc:after {content:''; position:absolute; left:0; top:100%; width:20%; height:5px; background-color:#ff0000;}
body main div.list-of-agent div.content p.desc:after {content:''; position:absolute; left:50%; top:100%; transform:translateX(-50%); width:20%; height:5px; background-color:#ff0000;}
body main div.list-of-agent div.content div.location {display:grid; grid-template-columns: auto auto auto; grid-template-rows: auto auto auto; text-align:left;}
body main div.list-of-agent div.content div.location a.item {text-decoration:none; display:flex; align-items:center; justify-content:space-between; box-sizing:border-box; margin:8%;}
body main div.list-of-agent div.content div.location a.item:nth-child(3n+1) {margin-left:0;}
body main div.list-of-agent div.content div.location a.item:nth-child(3n+0) {margin-right:0;}
body main div.list-of-agent div.content div.location a.item div.thumbs {width:80px; height:80px; overflow:hidden;}
body main div.list-of-agent div.content div.location a.item div.thumbs img {width:80px; height:80px; object-fit:cover; object-position:center;}
body main div.list-of-agent div.content div.location a.item div.text {width:calc(100% - 100px);}
body main div.list-of-agent div.content div.location a.item div.text h5.title {font-family:"Roboto-medium"; font-weight:normal; font-size:16px; margin-bottom:10px;}
body main div.list-of-agent div.content div.location a.item div.text p.desc {font-family:"Roboto-light"; font-weight:normal; font-size:14px; padding:0; margin:0;}
body main div.list-of-agent div.content div.location a.item div.text p.desc:after {width:0; height:0; background-color:none;}
body main div.list-of-agent img.background {width:100%; height:80vh; object-fit:cover; object-position:center; position:absolute;}
body main div.list-of-agent div.pager {text-align:left; margin-top:60px;}
body main div.list-of-agent div.pager a {color:#abb5cd; letter-spacing:8px;}
body main div.list-of-agent div.pager a.active {color:#ff0000; font-weight:bold;}
body main div.list-of-agent div.pager a.previous,
body main div.list-of-agent div.pager a.next {font-family:"FontAwesome"; font-size:14px; color:#abb5cd;}
body main div.list-of-agent div.pager a.previous:before {content:'\f100';}
body main div.list-of-agent div.pager a.next:before {content:'\f101';}

/**********
 * FOOTER *
 **********/
 body footer {background-color:#ff0000; box-sizing:border-box; padding:1% 0;}
 body footer div.container {display:flex; align-items:center; justify-content:space-between;}
 body footer p.desc {font-family:"Roboto-light"; font-size:15px; color:#ffffff;}