/**************
* ADDITIONAL *
**************/
@font-face {font-family:"Nunito-regular"; src:url(../fonts/Nunito/Nunito-Regular.ttf);}
@font-face {font-family:"Nunito-extrabold"; src:url(../fonts/Nunito/Nunito-ExtraBold.ttf);}
@font-face {font-family:"SourceSerifPro-regular"; src:url(../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf);}
 
/****************
* RESET/DEFINE *
****************/
*, body {padding:0; margin:0;}
body {transform:scale(0.9); background-color:#f6f5f0; width:100%; height:100vh; display:inline-flex; align-items:center; justify-content:center; flex-direction:column;}
a {text-decoration:none; color:#fff; cursor:pointer;}
h1, p {font-family:"SourceSerifPro-regular"; font-weight:100;}
span {font-family:"Nunito-regular";}

/****************
* CUSTOM CLASS *
****************/
body img.logo {width:100px; margin-bottom:35px;}
body div.container {position:relative; background-color:#fff; text-align:center; width:400px; box-sizing:border-box; padding:40px;}
body div.container h1.title {}
body div.container p.desc {word-wrap:break-word; overflow-wrap:break-word; margin:30px 0; font-size:14px;}
body div.container div.thumbnails {position:relative; width:320px; height:180px; display:inline-block;}
body div.container div.thumbnails span.price {position:absolute; display:flex; align-items:center; justify-content:center; width:50px; height:50px; right:-15px; top:-15px; padding:0; margin:0; background-color:#fff; color:#000; font-family:"Nunito-extrabold"; font-size:14px; font-weight:600; border:3px solid #000; border-radius:50px; transform:rotate(-10deg);}
body div.container div.thumbnails span.code {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); white-space:nowrap; background-color:#fff; font-family:"Nunito-extrabold"; padding:12px 17px;}
body div.container div.thumbnails div.wrapper {display:inline-block; width:100%; height:100%; overflow:hidden;}
body div.container div.thumbnails div.wrapper img {width:100%; object-fit:cover; object-position:center;}
body div.container p.mini-desc {font-size:11px; margin:20px 0;}
body div.container a.button {display:inline-block; font-family:"Nunito-extrabold"; font-size:13px; color:#000; background-color:#00bf73; padding:15px 80px;}
body div.container span {display:block; font-size:12px; margin-top:20px;}
