/**************
 * ADDITIONAL *
 **************/
@font-face {font-family:"AmnestyTradeGothic-regular"; src:url(../fonts/AmnestyTradeGothic/AmnestyTradeGothic.ttf);}
@font-face {font-family:"Nunito-regular"; src:url(../fonts/Nunito/Nunito-Regular.ttf);}
@keyframes anim-ripple-out {100%{top:-7px; right:-7px; bottom:-7px; left:-7px; border-color:transparent;}}

/****************
 * RESET/DEFINE *
 ****************/
*, body {padding:0; margin:0; font-family:"AmnestyTradeGothic-regular";}
a {text-decoration:none; color:#fff; cursor:pointer;}
h1, h2 {font-family:"Nunito-regular";}

/****************
 * CUSTOM CLASS *
 ****************/
.container {width:90%; margin:0 auto; position:relative; /*border-left:4px solid red; border-right:4px solid red;*/ z-index:9999;}
.button {position:relative; display:inline-block; padding:10px 25px; background-color:#ffb948; color:#444444; font-weight:600; border-radius:5px; -moz-osx-font-smoothing:grayscale;}
.button:before {content:''; position:absolute; border:#ffb948 solid 7px; border-radius:5px; top:0; right:0; bottom:0; left:0; animation-duration:500ms;}
.button:hover:before, .button:focus:before, .button:active:before {-webkit-animation-name:anim-ripple-out; animation-name:anim-ripple-out;}

/**********
 * HEADER *
 **********/
body header {width:100%; position:relative;}
body header div.container nav {position:absolute; width:100%; display:flex; align-content:flex-start; align-items:center; justify-content:space-between; border-bottom:1px solid #fff;}
body header div.container nav ul {}
body header div.container nav ul li {list-style:none; display:inline-block;}
body header div.container nav ul li a {position:relative; display:inline-block; padding:15px 15px;}
body header div.container nav ul li a:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:0; background-color:transparent; transition:ease-in 200ms transparent; transition-property:height, background-color;}
body header div.container nav ul li a:hover:after {height:4px; background-color:#fff; transition: ease-out 200ms; transition-property:height, background-color;}
body header div.background-header {width:100%; height:90vh; overflow:hidden;}
body header div.background-header div.content {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center;}
body header div.background-header div.content p {margin:20px 0px; color:#fff;}
body header div.background-header img#bg-header {width:100%; height:100vh; display:block; object-fit:cover; object-position:center;}
body header div.background-header:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}

/********
 * MAIN *
 ********/
body main div.container {}
body main div.container h2.title {display:inline-block; margin:20px 0; border-bottom:2px solid #000;}
body main div.container ul {}
body main div.container ul li {list-style:none; box-sizing:border-box; padding:20px 0; border-bottom:1px solid #444444;}
body main div.container ul li:nth-child(even) article {flex-direction:row-reverse;}
body main div.container ul li:last-child {border:none;}
body main div.container ul li article {width:100%; display:inline-flex; align-items:center; justify-content:space-between;}
body main div.container ul li article div.thumbnails {width:180px; height:180px; overflow:hidden; display:inline-block;}
body main div.container ul li article div.thumbnails img {width:100%; display:block; object-fit:cover; object-position:center;}
body main div.container ul li article div.content {width:calc(100% - 220px); display:inline-block; vertical-align:top;}
body main div.container ul li article div.content p {margin:18px 0;}
